<h3>Filter by date</h3>
<span class="date-filter">
  <div class="row">
    <div class="col-xs-2"><label for="from">From:</label></div>
    <div class="col-xs-10"><input id="from" type="datetime-local" ng-model="ctrl.from"></div>
  </div>
  <div class="row">
    <div class="col-xs-2"><label for="to">To:</label></div>
    <div class="col-xs-10"><input id="to" type="datetime-local" ng-model="ctrl.to"></div>
  </div>
</span>

<br>
<br>

<table class="table table-bordered entries">
  <tr>
    <th class="date">Date</th>
    <th class="time">Time</th>
    <th class="distance">Dist (km)</th>
    <th class="speed">Speed</th>
    <th class="operation">Operations</th>
  </tr>
  <tr ng-repeat="entry in ctrl.data | filter:ctrl.fromTo()">
    <td class="date">
      <span ng-show="entry.state !== 'edit'">{{ entry.dateDate | date:"yyyy-MM-dd HH:mm" }}</span>
      <span ng-show="entry.state === 'edit'"><input type="datetime-local" ng-model="entry.dateDate"></span>
    </td>
    <td class="time">
      <span ng-show="entry.state !== 'edit'">{{ entry.timeDate | date:"HH:mm:ss" }}</span>
      <span ng-show="entry.state === 'edit'"><input type="time" step="1" ng-model="entry.timeDate"></span>
    </td>
    <td class="distance">
      <span ng-show="entry.state !== 'edit'">{{ entry.distance }}</span>
      <span ng-show="entry.state === 'edit'"><input type="number" step="any" min=0 ng-model="entry.distance"></span>
    </td>    
    <td class="speed">
      {{ entry.speed }} <!-- displayed regardless the state -->
    </td>
    <td class="operation">
      <span ng-show="entry.state === 'show'">
        <a href ng-click="ctrl.edit(entry)"><i class="fa fa-pencil"></i> edit</a>
        <a href ng-click="entry.state = 'delete'"><i class="fa fa-trash"></i> delete</a>
      </span>

      <span ng-show="entry.state === 'edit'">
        <a href ng-click="ctrl.save(entry)"><i class="fa fa-check"></i> save</a>
        <a href ng-click="ctrl.revert(entry)"><i class="fa fa-times"></i> revert</a>
      </span>

      <span ng-show="entry.state === 'delete'">
        For real?
        <a href ng-click="ctrl.confirmDelete(entry)">yes</a>
        <a href ng-click="entry.state = 'show'">no</a> <!-- no deleting, no operation, just return to 'show' state -->
      </span>
    </td>
  </tr>
</table>