<span ng-show="home.entries.length > 0">
  <h3>Reports for week: {{ reports.beg | date:"EEEE d MMM yyyy" }} - {{ reports.end | date:"EEEE d MMM yyyy" }}</h3>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" ng-click="reports.previous()">« previous</button>
    <button type="button" class="btn btn-default" ng-click="reports.next()">next »</button>
  </div>

  <h4>Average speed: {{ reports.average.speed }}</h4>
  <h4>Average distance: {{ reports.average.distance }}</h4>

  <pre>{{ home.entries | json }}</pre>
  <pre>{{ reports.entriesWithin | json }}</pre>

</span>
<span ng-show="home.entries.length === 0">
  <h3>No entries, nothing to display here.</h3>
</span>