<h1>tracking jogging times</h1>

<button ng-click="$state.go('new')">new entry</button>
<br>
<br>
From: <input type="datetime-local" ng-model="home.from"> 
To: <input type="datetime-local" ng-model="home.to">
<br>
<br>

<table class="table table-bordered">
  <tr>
    <th class="date">Date</th>
    <th class="time">Time</th>
    <th class="distance">Dist (km)</th>
    <th class="speed">Speed</th>
    <th class="operation">Operations</th>
  </tr>
  <tr ng-repeat="entry in home.entries | filter:home.fromTo()">
    <td class="date">
      <span ng-show="entry.state !== 'edit'">{{ entry.dateDate | date:"yyyy-MM-dd HH:mm" }}</span>
      <span ng-show="entry.state === 'edit'"><input type="datetime-local" ng-model="entry.dateDate"></span>
    </td>
    <td class="time">
      <span ng-show="entry.state !== 'edit'">{{ entry.timeDate | date:"HH:mm:ss" }}</span>
      <span ng-show="entry.state === 'edit'"><input type="time" step="1" ng-model="entry.timeDate"></span>
    </td>
    <td class="distance">
      <span ng-show="entry.state !== 'edit'">{{ entry.distance }}</span>
      <span ng-show="entry.state === 'edit'"><input type="number" step="any" ng-model="entry.distance"></span>
    </td>    
    <td class="speed">
      {{ entry.speed }} <!-- displayed regardless the state -->
    </td>
    <td class="operation">
      <span ng-show="entry.state === 'show'">
        <a href ng-click="home.edit(entry)"><i class="fa fa-pencil"></i> edit</a>
        <a href ng-click="entry.state = 'delete'"><i class="fa fa-trash"></i> delete</a>
      </span>

      <span ng-show="entry.state === 'edit'">
        <a href ng-click="home.save(entry)"><i class="fa fa-check"></i> save</a>
        <a href ng-click="home.revert(entry)"><i class="fa fa-times"></i> revert</a>
      </span>

      <span ng-show="entry.state === 'delete'">
        For real?
        <a href ng-click="home.confirmDelete(entry)">yes</a>
        <a href ng-click="entry.state = 'show'">no</a> <!-- no deleting, no operation, just return to 'show' state -->
      </span>
    </td>
  </tr>
</table>

<span ng-if="home.role === 'admin'">
  <h1>I'm an admin</h1>
  <p>Go to <a href="/#/admin">admin console</a></p>
</span>

<button ng-click="signOut()">sign out</button>