<h1>add a new entry</h1>

<form class="form-horizontal" ng-submit="addEntry()">
  <div class="form-group">
    <label for="input-date" class="col-xs-2 control-label">Date</label>
    <div class="col-xs-10">
      <input type="datetime-local" id="input-date" class="form-control" ng-model="data.date">
    </div>
  </div>

  <div class="form-group">
    <label for="input-distance" class="col-xs-2 control-label">Distance (km)</label>
    <div class="col-xs-10">
      <input type="number" step="any" ng-model="data.distance" class="form-control" id="input-distance">
    </div>
  </div>  

  <div class="form-group">
    <label for="input-time" class="col-xs-2 control-label">Time</label>
    <div class="col-xs-10">
      <input type="time" step="1" ng-model="data.time" class="form-control" id="input-time">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-offset-2 col-xs-10">
      <button type="submit" class="btn btn-default">Add Entry</button>
      <a href ng-click="$state.go('home')">Cancel</a>
    </div>
  </div>
</form>