<form ng-submit="addEntry()">
  <div class="list">
    <label class="item item-input">
      <span class="input-label">Date</span>
      <input type="date" ng-model="data.date">
    </label>
    <label class="item item-input">
      <span class="input-label">Distance</span>
      <input type="number" step="any" ng-model="data.distance">
    </label>
    <label class="item item-input">
      <span class="input-label">Time</span>
      <input type="time" ng-model="data.time">
    </label>
    <label class="item">
      <button class="button button-block button-positive" type="submit">Add Entry</button>
    </label>
  </div>
</form>